In [1]:
!pip install pandas lxml beautifulsoup4 html5lib matplotlib -U

Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already up-to-date: lxml in /usr/local/lib/python3.6/dist-packages (4.6.1)
Requirement already up-to-date: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.9.3)
Requirement already up-to-date: html5lib in /usr/local/lib/python3.6/dist-packages (1.1)
Requirement already up-to-date: matplotlib in /usr/local/lib/python3.6/dist-packages (3.3.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: soupsieve>1.2; python_version >= "3.0" in /usr/local/lib/python3.6/dist-packages (from beautifulsoup4) (2.0.1)
Requirement already satisfied, skipping upgrade: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied, skipping upgrade: webencodings in /usr/local/lib/python3.6/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied, skipping upgrade: pillow>=6.2.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (7.0.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.7)

In [2]:
import sys
import pandas as pd

print(f"Python version {sys.version}")
print(f"pandas version: {pd.__version__}")

Python version 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]
pandas version: 1.1.4

In [34]:
# to read the dataframe from the wiki page

list_of_dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [35]:
# shows how many df the above function read

len(list_of_dfs)

3

In [36]:
# the dataframe we care about is, by chance, the first one

list_of_dfs[0]

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [37]:
# let's add it to our main dataframe

df = list_of_dfs[0]
df

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [14]:
import numpy as np

In [16]:
# initial shape of our df

df.shape

(180, 3)

In [28]:
# to fulfil 'Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned'

for index, row in df.iterrows():
  if row['Borough'] == 'Not assigned':
    df.drop(index, inplace = True)

(103, 3)

In [31]:
# to fulfil 'If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough'

for index, row in df.iterrows():
  if row['Neighbourhood'] == 'Not assigned':
    df.replace(to_replace = row['Neighbourhood'], value = row['Borough'])

In [32]:
df.shape

(103, 3)